<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Test.css">

</head>
<body>

<section class="scroll-section">
    <div class="text left">Text von links</div>
    <div class="text right">Text von rechts</div>
    <div class="text left">Noch ein Text von links</div>
    <div class="text right">Noch ein Text von rechts</div>
</section>
<section class="scroll-section">
    <div class="text left">Text von links</div>
    <div class="text right">Text von rechts</div>
    <div class="text left">Noch ein Text von links</div>
    <div class="text right">Noch ein Text von rechts</div>
</section>
<section class="scroll-section">
    <div class="text left">Text von links</div>
    <div class="text right">Text von rechts</div>
    <div class="text left">Noch ein Text von links</div>
    <div class="text right">Noch ein Text von rechts</div>
</section>
<section class="scroll-section">
    <div class="text left">Text von links</div>
    <div class="text right">Text von rechts</div>
    <div class="text left">Noch ein Text von links</div>
    <div class="text right">Noch ein Text von rechts</div>
</section>
<section class="scroll-section">
    <div class="text left">Text von links</div>
    <div class="text right">Text von rechts</div>
    <div class="text left">Noch ein Text von links</div>
    <div class="text right">Noch ein Text von rechts</div>
</section>


<button onclick="givePosition()">Hallo</button>

<script src="Test.js"></script>
</body>
</html>